<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>

    <link rel="stylesheet" th:href="@{/app.css}"/>
    <title>giflib | Home </title>
</head>
<body>
<h1>Home</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias deleniti doloremque facilis minus quasi repellendus veniam! Adipisci commodi deleniti distinctio, ipsam magni, maiores molestiae provident quasi rerum unde voluptates.</p>
<img th:src="@{/gifs/compiler-bot.gif}" alt="logo" />
</body>
</html>